body {
    user-select: none;
    --img-url: url("http://media.sit.savoie-mont-blanc.com/original/875197/0-1777285.jpg");
}

body.bg-img {
    background-image: var(--img-url);
    background-color: unset;
    background-size: cover;
}

body.bg-img h1,
body.bg-img h3,
body.bg-img p {
    text-shadow: 0 0 2px #000000;
}

body.bg-img .navbar {
    background-color: unset;
}

body.bg-img .settings-item {
    background-color: #3c3e42de;
}

body.bg-img .progress-bar {
    opacity: 0.8;
}

body.bg-img .table-container {
    background-color: #3c3e4280;
}

.menu {
    flex-basis: 254px;
    width: 254px;
}

#settings,
#home-button {
    display: none;
}

#speed-selector-container {
    display: flex;
    justify-content: space-between;
}

#speed-selector-container > .btn,
#speed-selector > .btn {
    margin: 0px;
}

#backward {
    width: 50%;
    float: left;
}

.backward-forbidden #backward {
    display: none;
}

#backward-progress {
    float: right;
}

#forward {
    width: 50%;
    float: right;
}

.backward-forbidden #forward {
    width: 100%;
}

#emergency {
    width: fit-content;
    margin-left: auto;
    font-size: 13px;
}